@import url('./normalize.css');
@import url('./vars.css');
@import url('./fonts.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'PT Sans', sans-serif;
    font-size: var(--main-font-size);
    color: var(--main-color);
    min-height: 100vh;
}

.header {
    margin-bottom: 70px;
}

.container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 13px 120px 13px 220px;
}

.chapter {
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1;
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

.chapter__separator {
    margin: 0 10px;
}

.chapter::before {
    content: 'ENG';
    font-family: 'Tourney', cursive;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    left: 122px;
}

.section {
    margin-bottom: 70px;
}

.section__title {
    width: max-content;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 1.28rem;
    line-height: 1.8;
    margin-bottom: 40px;
    position: relative;
}

.section__content {
    line-height: 1.28;
}

.section__content_highlighted {
    background-color: #DADADA;
}

.list {
    padding-top: 40px;
}

.list__element:not(:last-of-type) {
    margin-bottom: 40px;
}

.section:nth-of-type(1) .section__title::after {
    content: 'Chapter 1';
    position: absolute;
    font-family: 'Farro', sans-serif;
    text-transform: none;
    font-size: 0.7rem;
    right: -100px;
}

.section:nth-of-type(2) .section__title::after {
    content: 'Chapter 2';
    position: absolute;
    font-family: 'Farro', sans-serif;
    text-transform: none;
    font-size: 0.7rem;
    right: -100px;
}

.section:nth-of-type(3) .section__title::after {
    content: 'Chapter 3';
    position: absolute;
    font-family: 'Farro', sans-serif;
    text-transform: none;
    font-size: 0.7rem;
    right: -100px;
}

.section:nth-of-type(4) .section__title::after {
    content: 'Chapter 4';
    position: absolute;
    font-family: 'Farro', sans-serif;
    text-transform: none;
    font-size: 0.7rem;
    right: -100px;
}